.file1, .file2{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #EEEBE7;
    width: 46%;
    height: 700px;
    -moz-box-shadow: 0 0 1px 1px #888;
    -webkit-box-shadow: 0 0 1px 1px #888;
    box-shadow: 0 0 1px 1px #888;
    margin-top:10px;
}
img{
	max-width:100%;
	max-height:100%;
	margin:0 auto;
}
.pbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:30px;
	-moz-border-radius-topleft:30px;
	border-top-left-radius:30px;
	-webkit-border-top-right-radius:30px;
	-moz-border-radius-topright:30px;
	border-top-right-radius:30px;
	-webkit-border-bottom-right-radius:30px;
	-moz-border-radius-bottomright:30px;
	border-bottom-right-radius:30px;
	-webkit-border-bottom-left-radius:30px;
	-moz-border-radius-bottomleft:30px;
	border-bottom-left-radius:30px;
	text-indent:0;
	border:3px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	/*width:100px;*/
	padding:0 15px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin:5px auto;
}

.file2 img {
/*padding: 0px 85px;*/
}
.pbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.pbutton:active {
	position:relative;
	top:1px;
}

.button1{ margin:10px auto auto auto;}


.center{ 
	/*margin:0 100px;*/
}
.image-wrap{
background-color:white;
width:94%;
height: 450px;
margin:3% 3% 0 3%;
text-align:center;
}
.comment2{ margin:0 3%;}
.comment1{ margin:0 3%;}

.scroll{
				background-color:white;
				width: 100%;
				height:150px;
				overflow-y: scroll;
				/*margin:0px 10px auto auto ;
				display:block;
				padding:5px;*/
			}
			
			
.scroll1{
				background-color:white;
				width:100%;
				height:150px;
				overflow-y: scroll;
				/*margin:0px 10px auto auto ;
				display:block;
				padding:5px;*/
				 
			}
			
.reportfile{ 
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #EEEBE7;
    width: 1200px;
    height: 375px;
    -moz-box-shadow: 0 0 1px 1px #888;
    -webkit-box-shadow: 0 0 1px 1px #888;
    box-shadow: 0 0 1px 1px #888;
    margin-top:30px;
    
     }
			
.scrollreport{
	font-family:"Arial";
	font-size:17px;
				background-color:white;
				width: 1150px;
				height:250px;
				overflow-y: scroll;
				margin: 20px 20px auto;
				display:block;
				padding:5px;
				
			}
			
.promote-bottom-button{
	margin: 0 auto;
}
.promote-bottom-button-wrap {
	margin-top:15px;
	text-align:right;
	padding:0 4% 0 0;
}


.sumbitbutton{margin-top:10px   ;
margin-left:0px   ;
}

.promote-button-wrap {
	width:100%;
	height:48px;
	text-align:center;
}

.commenttime {
	float:left;
	width:140px;
}
.username {
	float:left;
	width:60px;
	text-align:right;
}
/*#btn2{

margin-top: -25px;
}*/
/*#btn1 {
margin-top: -30px;
}*/